body {
  font-family: Manrope, sans-serif;
}
@media screen and (max-width: 300px) {
  html {
    font-size: 30%;
  }
  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}
.main::-webkit-scrollbar {
  width: 1.5rem;
  padding: 1rem;
}
.main::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 1rem;
}
.flex-align-center {
  display: flex;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gray {
  background: var(--gray-bg);
}
h1,
h2,
h3,
p {
  color: inherit;
}
img {
  width: 100%;
}
.grid-overlay {
  display: grid;
}
.grid-overlay > * {
  grid-row: 1/2;
  grid-column: 1/2;
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.checkbox-text {
  margin: 0 1rem;
}
.btn span {
  margin: auto;
}

/* header  */
.arstyShop-header {
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  background: var(--secondary-color);
}
.arstyShop-header > * {
  color: var(--light-text);
}
.right-side {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: large;
}
.right-side > *:hover{
  cursor: pointer;
  color: var(--primary-color);
}
.items {
  color: var(--primary-color);
  font-size: 1.4rem;
}

/* page layout */
.body {
  height: 100vh;
  background: var(--light-text);
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header"
    "main main  ";
}
.main {
  grid-area: main;
  overflow: auto;
}

.header {
  grid-area: header;
}

/* subscribe modal */
.subscribe-section-overlay,
.login-section-overlay,
.signup-section-overlay,
.signin-section-overlay {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  position: fixed;
  top: 0;
  justify-content: center;
  gap: 1rem;
}
.login-section-overlay,
.signup-section-overlay,
.signin-section-overlay {
  display: none;
}
.subscribe-section,
.signup-sec {
  max-width: 50rem;
  padding: 4rem;
  gap: 2rem;
  background: var(--light-bg);
  align-items: stretch;
  text-align: center;
}
.overlay-close {
  font-size: 1.5em;
  aspect-ratio: 1;
  padding: 1rem;
  border-radius: 50%;
  color: var(--primary-color);
}
.overlay-close:hover {
  background: var(--primary-color);
  color: var(--light-bg);
}
.login-section {
  display: flex;
  align-items: flex-end;
  background: var(--light-bg);
}
.right-sec,
.left-sec {
  padding: 4rem;
  max-width: 36rem;
  height: 100%;
  justify-content: flex-end;
  align-items: stretch;
  gap: 3rem;
  text-align: center;
}
.login-section .floating-btn {
  aspect-ratio: 1;
  background: var(--primary-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.primary {
  color: var(--primary-color);
}
.signup-sec input[type="checkbox"] {
  width: 2rem;
  height: 2rem;
}
.signup-sec input {
  align-self: flex-start;
}

/*  */
.page-header-section {
  display: grid;
}
.page-header-section i {
  color: var(--primary-color);
}
.section-bg {
  height: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
}
.section-bg img {
  height: 100%;
}
.section-content {
  grid-column: 1/2;
  grid-row: 1/2;
  min-height: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-text);
}

/* slider */
.slidecontainer {
  width: 100%;
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  background: #d3d3d3;
  opacity: 0.7;
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}
