/* category section */
.category-section {
  display: flex;
  padding: 5rem;
  justify-content: space-around;
}
.category-section .btn {
  background: var(--secondary-color);
  color: var(--light-bg);
}

/* her section  */
.hero-section {
  position: relative;
  width: 80vw;
  margin: auto;
  display:grid;
}
.hero-img, .hero-overlay{
  grid-row: 1/2;
  grid-column: 1/2;
}
.hero-img img {

  object-fit:fill;
}

.hero-overlay {
  padding: 2rem;
  text-align: center;
  justify-content: center;
  gap: 3rem;
  text-shadow:2px 2px 5px var(--secondary-color);
  backdrop-filter:blur(2px);
  color: var(--light-text);
}


/* collection section  */
.collection-section {
  text-align: center;
  padding: 2rem;
  margin-top: 3rem;
}
.collection-grid {
  margin: 3rem;
}
.collection-image img{
    object-fit:fill;
}
.collection-items {
  border-radius: 4px;
  overflow: hidden;
  display: grid;
  align-items: end;
}
.collection-image,
.collection-content {
  grid-column: 1/2;
  grid-row: 1/2;
  color: var(--light-text);
}
.collection-content {
  padding: 1rem;
  width: 100%;
  height: 100%;
  text-align: left;
  display: flex;
  background: rgba(0, 0, 0, 0.356);
}
.collection-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.collection-tag {
  align-self: flex-start;
  background: var(--primary-text);
  color: var(--light-text);
}
.collection-artworks {
  /* gap: 1rem; */
  justify-content: flex-end;
  align-items: flex-end;
  width: 50%;
}
.collection-artwork-item {
  flex: 0 0 6rem;
  width: 8rem;
  border-radius: 4px;
  overflow: hidden;
}
